/*---------------------------Fonts------*/
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Signika+Negative:wght@300&display=swap');

/*---------------------------Colors------*/
.bg-color-navbar {
    background-color: #0B3954;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.nav-search {
    background-color: #E1EFFA;
    color: #000000;
}

.bg-color-footer {
    background-color: #0B3954;
}

.footercols {
    color: white;
}

.footer-link {
    color: white;
}

.footer-brand {
    color: white;
}

#twitter {
    color: #00acee;
}

#twitter:hover {
    color: white;
}

#facebook {
    color: #4b71c4;
}

#facebook:hover {
    color: white;
}

#youtube {
    color: #FF0000;
}

#youtube:hover {
    color: white;
}

#instagram {
    color: #8a3ab9;
}

#instagram:hover {
    color: white;
}

.box {
    background-color: #087E8B;
}

.nav-btn {
    background-color: #C73C3C;
    color: white;
}

.get-started-heading {
    background-color: #282828;
    color: white;
}

.box-2 {
    background-color: #282828;
}

.tutorial-heading {
    color: white;
}

.explanation {
    background-color: #C73C3C;
    color: white;
}

.create-now-btn {
    background-color: #5694AB;
    color: white;
}

.category-title {
    background-color: #282828;
    color: white;
}

.sub-title{
    color: white;
}

.sub-category-title {
    background-color: #282828;
    color: white;
}

.description {
    color: white;
}

.category-search {
    background-color: #E1EFFA;
    color: #000000;
}

.quiz-box {
    background-color: #C73C3C;
}

.quiz-desc{
    background-color: #282828;
    color: white;
}
/*---------------------------Special Paddings/Margins/Texts------*/

.inline-block {
    display: inline-block;
}

a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.vertical-align {
    vertical-align: middle;
}

/*---------------------------Heading------*/
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-family: "Carter One",sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 0px 4px 4px #000000;
}

.navbar-brand:hover {
    color: grey;
}

.nav-link {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 4px 4px #000000;
}

.nav-link:hover {
    color: grey;
}

.nav-search {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    left: 1008px;
    top: 17px;
    width: 252px;
    padding-left: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.nav-search:hover {
    background-color: #8896a1;
}

/*---------------------------Footer------*/
.footercols {
    font-family: "Signika Negative",sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 0px 4px 4px #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-link {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 4px 4px #000000;
}

.footer-link:hover {
    color: grey;
}

.footer-brand {
    font-family: "Carter One",sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 0px 4px 4px #000000;
}

.footer-brand:hover {
    color: grey;
}

.social-links {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 4px 4px #000000;
}

/*---------------------------Get Started Content------*/
.box {
    padding: 20px;
}
.get-started-heading {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0px 4px 4px #000000;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
}
.nav-btn {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: calc(1.500em + 1vw);
    text-shadow: 0px 4px 4px #000000;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-btn:hover {
    color: grey;
    background-color: #7C2222;
}

/*---------------------------Create Now Tutorial------*/
.box-2 {
    padding: 20px;
}

.tutorial-heading {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 4px 4px #000000;
}

.explanation {
    font-family: "Signika Negative",sans-serif;
    font-size: calc(0.5em + 1vw);
    text-shadow: 0px 4px 4px #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}

.explanation h4 {
    text-align: center;
}

.explanation-2 {
    margin-left: 90px;
}

.create-now-btn {
    font-family: "Signika Negative",sans-serif; 
    font-weight: bold;
    font-size: calc(1em + 1vw);
    text-shadow: 0px 4px 4px #000000;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    padding: 7px;
}

.create-now-btn:hover {
    background-color: #355B69;
    color: grey;
}

/*---------------------------Categories------*/
.category-title {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0px 4px 4px #000000;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
}

.sub-title {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0px 4px 4px #000000;
    padding: 15px;
}

/*---------------------------Slider------*/
.slider-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .slider{
    position: relative;
    background: #C73C3C;
    width: 1000px;
    min-height: 250px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }

  .slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.navigation {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5 ease;
}

.slider:hover .navigation{
    opacity: 1;
}

.prev-btn, .next-btn {
    z-index: 999;
    font-size: 2em;
    color: grey;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    cursor: pointer;
}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility {
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visibility .slide-icon {
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-20px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active {
    background: #C73C3C;
}

/*---------------------------Slider Entertainment------*/
.slider-box-ent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .slider-ent {
    position: relative;
    background: #C73C3C;
    width: 1000px;
    min-height: 250px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider-ent .slide-ent {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }

  .slider-ent .slide-ent.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider-ent .slide-ent img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.navigation-ent {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5 ease;
}

.slider-ent:hover .navigation-ent{
    opacity: 1;
}

.prev-btn-ent, .next-btn-ent {
    z-index: 999;
    font-size: 2em;
    color: grey;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    cursor: pointer;
}

.prev-btn-ent {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn-ent {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility-ent {
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visibility-ent .slide-icon-ent {
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-20px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility-ent .slide-icon-ent.active {
    background: #C73C3C;
}

/*---------------------------Slider Entertainment------*/
.sub-category-title {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0px 4px 4px #000000;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
}

.description {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0px 4px 4px #000000;
    padding: 15px;
}

.box-3 {
    padding: 20px;
}

.category-search {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    left: 1008px;
    top: 17px;
    width: 70%;
    padding-left: 20px;
    align-items: right;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.category-create-btn {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
}

.quiz-box {
    text-align: center;
    border-radius: 10px;
    padding: 10px; 
    margin-bottom: 10px;
}

.quiz-box:hover {
    background-color:#7C2222;
}

.quiz-img {
    width: 90%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.quiz-desc {
    height: 70px;
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 0px 4px 4px #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
}

.quiz-desc h3 {
    text-align: center;
    align-items: center;
    
}