/*---------------------------Fonts------*/
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Signika+Negative:wght@300&display=swap');

/*---------------------------Colors------*/
.bg-color-navbar {
    background-color: #0B3954;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

.nav-search {
    background-color: #E1EFFA;
    color: #000000;
}

.bg-color-footer {
    background-color: #0B3954;
}

.footercols {
    color: white;
}

.footer-link {
    color: white;
}

.footer-brand {
    color: white;
}

#twitter {
    color: #00acee;
}

#twitter:hover {
    color: white;
}

#facebook {
    color: #4b71c4;
}

#facebook:hover {
    color: white;
}

#youtube {
    color: #FF0000;
}

#youtube:hover {
    color: white;
}

#instagram {
    color: #8a3ab9;
}

#instagram:hover {
    color: white;
}

.box {
    background-color: #087E8B;
}

.nav-btn {
    background-color: #C73C3C;
    color: white;
}

.get-started-heading {
    background-color: #282828;
    color: white;
}

.box-2 {
    background-color: #282828;
}

.tutorial-heading {
    color: white;
}
/*---------------------------Special Paddings/Margins/Texts------*/

.inline-block {
    display: inline-block;
}

a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*---------------------------Heading------*/
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-family: "Carter One",sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 0px 4px 4px #000000;
}

.navbar-brand:hover {
    color: grey;
}

.nav-link {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 4px 4px #000000;
}

.nav-link:hover {
    color: grey;
}

.nav-search {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    left: 1008px;
    top: 17px;
    width: 252px;
}

/*---------------------------Footer------*/
.footercols {
    font-family: "Signika Negative",sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 0px 4px 4px #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-link {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 4px 4px #000000;
}

.footer-link:hover {
    color: grey;
}

.footer-brand {
    font-family: "Carter One",sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 0px 4px 4px #000000;
}

.footer-brand:hover {
    color: grey;
}

.social-links {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 4px 4px #000000;
}

/*---------------------------Get Started Content------*/
.box {
    padding: 20px;
}
.get-started-heading {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0px 4px 4px #000000;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
}
.nav-btn {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: calc(1.500em + 1vw);
    text-shadow: 0px 4px 4px #000000;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-btn:hover {
    color: grey;
    background-color: #7C2222;
}

/*---------------------------Create Now Tutorial------*/
.box-2 {
    padding: 20px;
}

.tutorial-heading {
    font-family: "Signika Negative",sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 4px 4px #000000;
}

